<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new posts</title>
    <link rel="stylesheet" href="/viewst.css">
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username" />
        <br/>
        <br/>
        <input type="date" name="post_date" />
        <br/>
        <br/>
        <textarea placeholder="Write your posts" name="content"></textarea>
        <br/>
        <button>Submit Posts</button>
    </form>
</body>
</html>